{% extends 'base.twig' %}

{% block content %}
    <div class="card bg-light">
        <div class="card-body">
            <h2 class="mb-4 display-4 text-center">Welcome to Collectiv</h2>
            <p>
                Here you can enjoy some basic user management.
                There are no rights, so remember, with great power comes great responsibility!
                <b>You can access the user management options from the navigation menu.</b>
            </p>
        </div>
    </div>
{% endblock %}